{% extends "base.html" %}

{% block title %}Home - Sika.ai{% endblock %}

{% block content %}
<div class="container" style="min-height: calc(100vh - 200px);">
    <h1>Topic Categories</h1>
    <div class="subject-list">
        {% for category in topic_categories %}
            <div class="subject-card">
                <h2><a href="{% url 'lesson_list' category.id %}">{{ category.name }}</a></h2>
                <p>{{ category.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}